// Base
@import 'base/_reset';
@import 'base/_colors';
@import 'base/_typography';

// Layout
@import 'layout/_navigation';
@import 'layout/_header';
@import 'layout/_footer';

// Components
@import 'components/_buttons';

// Pages
@import 'pages/_intro';
@import 'pages/_about';

html{
    margin: 0;
	padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: $base-font-family;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    //background-color: #EEEEEE;
 }

 .header__container, .section__container, .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}
