.section__about {
    width: 100%;
    //height: 700px;
    //margin-bottom: 300px;
    //margin-top: 30px;
}
.wave{
    position: relative;
    background-color: #F8F9FA;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 310px;
        background-image: url('../../dist/images/wave.svg');
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}
.about__introduction--center {
    //color: #000;
    //position: absolute;
    //top: 20%;
    //left: 35%;
    padding-bottom: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: -115px auto;
    .about__title--bold{
        color: $dark-text-color;
        font-size: 42px;
        font-weight: $bold;
        //line-height: 70px;
        text-align: center;
        margin-bottom: 25px;
    }
    p{
        font-size: 20px;
        color: $text-color;
        line-height: 32px;
        text-align: center;
    }
}

@media(max-width: 660px) {
    .about__introduction--center {
        padding-bottom: 150px;
        p{
            font-size: 18px;
            padding: 0 20px;
        }
    }
}
@media(max-width: 570px) {
    .about__introduction--center {
        padding-bottom: 130px;
        .about__title--bold{
            font-size: 35px;
        }
    }
}
@media(max-width: 470px) {
    .about__introduction--center {
        padding-bottom: 110px;
        p{
            font-size: 16px;
            padding: 0 20px;
        }
    }
}
@media(max-width: 420px) {
    .about__introduction--center {
        .about__title--bold{
            font-size: 30px;
        }
        p{
            font-size: 16px;
            line-height: 23px;
        }
    }
}
