.founders__list {
    margin-top: 1500px;
}
.item--figure {
    display: flex;

    .item__image img {
        -webkit-box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
    }
}
.margin {
    margin-left: 90px;
}
.right{
    flex-direction: row-reverse;
}
.item__description--right{
    color: $dark-text-color;

    .item__description-title {
        font-size: 28px;
        font-weight: $bold;
        margin-top: 120px;

        span {
            margin-bottom: 35px;
            font-size: 50px;
        }

        .fa-lightbulb {
            color: $logo-color;
        }
        .fa-award {
            color: $purple;
        }
    }

    p {
        font-size: 18px;
        color: $text-color;
        width: 550px;
        line-height: 32px;
        margin-top: 35px;
        text-align: left;
    }
}
.founder__item--flex {
    margin-top: 100px;
}

.item__description--left {
    color: $dark-text-color;
    margin: 0 0 20px 100px;
    display: flex;
    flex-direction: column;

    .item__description-title {
        font-size: 28px;
        font-weight: $bold;
        margin-top: 120px;

        .fa-lightbulb {
            color: $logo-color;
            margin-bottom: 35px;
            font-size: 50px;
        }
    }

    p {
        font-size: 18px;
        color: $text-color;
        width: 550px;
        line-height: 32px;
        margin-top: 35px;
        text-align: left;
    }
}

.last {
    margin-top: -100px;
}