/*.section__founders {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: -250px;

    p {
        z-index: 50;
    }

}
.rocket {
    //width: 100%;
    position: absolute;
    background-size: cover;
        //height: auto;
        transform: rotate(30deg);
        padding-right: 30px;
    padding: 0; /* reset 
    padding-bottom: calc(100% * 3 / 4);
    z-index: 1;
}
.founders__list {
    display: flex;
    flex-direction: column;

}
.item--figure {
    display: flex;
    //position: relative;
    //top: 450px;
    .item__image img {
        -webkit-box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
    }
}
.margin-founder {
    margin-left: 180px;
}
.right{
    flex-direction: row-reverse;
}

.item__description--right{
    color: $dark-text-color;

    .item__description-title {
        font-size: 28px;
        font-weight: $bold;
        margin-top: 120px;

        span {
            margin-bottom: 35px;
            font-size: 50px;
        }

        .fa-lightbulb {
            color: $logo-color;
        }
        .fa-award {
            color: $purple;
        }
    }

    p {
        font-size: 18px;
        color: $text-color;
        width: 550px;
        line-height: 32px;
        margin-top: 35px;
        text-align: left;
    }
}
.founder__item--flex {
    margin-top: 100px;
}

.item__description--left {
    color: $dark-text-color;
    margin: 0 0 20px 100px;
    display: flex;
    flex-direction: column;

    .item__description-title {
        font-size: 28px;
        font-weight: $bold;
        margin-top: 120px;

        .fa-lightbulb {
            color: $logo-color;
            margin-bottom: 35px;
            font-size: 50px;
        }
    }

    p {
        font-size: 18px;
        color: $text-color;
        width: 550px;
        line-height: 32px;
        margin-top: 35px;
        text-align: left;
    }
}

.last {
    margin-top: -100px;
}*/

.section__founders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -250px;
    //padding: 20px;
}

.founder__item--flex {
    margin-top: 100px;
}

.item--figure {
    display: flex;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -80px;
}
.item__desc {
    margin-left: 80px;
    //margin-top: 100px;
    padding: 0;
    p {
        font-size: 18px;
        color: $text-color;
        line-height: 32px;
        margin-top: 35px;
        text-align: left;
      
    }
}

.item__description-title {
    font-size: 28px;
    font-weight: $bold;
    //margin-top: 120px;
   
    .fa-lightbulb {
        color: $logo-color;
        margin-bottom: 35px;
        font-size: 50px;
        font-size: 50px;
    }
  
    .fa-award {
        color: $purple;
        margin-bottom: 35px;
        font-size: 50px;
        font-size: 50px;
    }
}

.item__image img {
    padding-right: 0;
    
}
