

.section__founders {
    background-image: url('../../src/images/trinagles.png');
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -250px;
    //padding: 20px;
}

.founder__item--flex {
    margin-top: 100px;
}

.item--figure {
    display: flex;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -80px;
}
.item__desc {
    margin-left: 80px;
    //margin-top: 100px;
    padding: 0;
    p {
        font-size: 18px;
        color: $text-color;
        line-height: 32px;
        margin-top: 35px;
        text-align: left;
      
    }
}

.item__description-title {
    font-size: 28px;
    font-weight: $bold;
    //margin-top: 120px;
   
    .fa-lightbulb {
        color: $logo-color;
        margin-bottom: 35px;
        font-size: 50px;
        font-size: 50px;
    }
  
    .fa-award {
        color: $purple;
        margin-bottom: 35px;
        font-size: 50px;
        font-size: 50px;
    }
}

.item__image img {
    padding-right: 0;
    
}

@media (max-width: 1050px) {

    .founders__list {
        text-align: center;
    }
    .item--figure {
        display: flex;
        flex-direction: column;
    }
    .item__image img {
        text-align: center;
        
    }

    .item__desc {
        margin-left: 0;
        margin-top: 50px;
        //margin-top: 100px;

        p {
            padding: 0 40px;
            text-align: center;
        }
    }

    .reverse {
       flex-direction: column;
        margin-left: 0;
    }
}
@media (max-width: 460px) {

    .item__image img {
        height: auto;
        width: 100%;
        margin-left: -10px;
        
    }

    .item__desc {
        p {
            font-size: 16px;
            color: $text-color;
            line-height: 25px;
            padding: 0 20px;
          
        }
    }

    .item__description-title {
        font-size: 24px;
            
        .fa-lightbulb {
            font-size: 40px;
        }
      
        .fa-award {
            font-size: 40px;
        }
    }
    
}
