.section__history {
    background-color: #F8F9FA;
    //display: flex;
    //justify-content: center;
    //margin: 0;
    //padding: 0;
}
.history__title--bold {
        color: $dark-text-color;
    font-size: 42px;
    font-weight: $bold;
    //margin-top: -100px;
}

