.section__history {
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    //margin: 0;
    //padding: 0;

    p {
        color: $text-color;
        font-size: 20px;
        margin-top: 70px;
        line-height: 40px;
        padding: 20px 100px 20px 100px;
        text-align: justify;
    }
}

.history__title--bold {
    color: $dark-text-color;
    font-size: 42px;
    font-weight: $bold;
    text-align: center;
    margin-top: -100px;
}
.bold-span {
    font-weight: bold;
    color: $purple;
}
.history__figure {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .history__img {
        -webkit-box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.75);
    }
}




