
.section__history {
    display: flex;
    justify-content: center;
}
.history__title--bold {
    color: $dark-text-color;
    font-size: 42px;
    font-weight: $bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -100px;

}
@media (max-width: 900px) {
    .history__title--bold {
        margin-top: -150px;
    }
    .history__img {
        height: auto;
        width: 100%;
        padding-right: 20px;
    }
   
}
@media (max-width: 555px) {
    .history__title--bold {
        font-size: 35px;
    }
   
}
.history__figure {
    text-align: center;
    height: auto;
    width: 100%;
}

.history__description {
    color: $text-color;
    font-size: 20px;
    margin-top: 70px;
    line-height: 40px;
    padding: 0 10px;
    //padding: 20px 100px 20px 100px;
    //text-align: justify;
    z-index: 5;

    .bold-span {
        font-weight: bold;
    color: $purple;
    }
}
@media (max-width: 880px) {
    .history__description {
        font-size: 18px;
        line-height: 30px;
    }
   
}
@media (max-width: 550px) {
    .history__description {
        font-size: 17px;
        text-align: center;
    }
   
}
@media (max-width: 380px) {
    .history__description {
        font-size: 16px;
    }
   
}
/*@media (max-width: 800px) {
    .history__description {
        font-size: 16px;
    }
   
}*/







