.section__intro{
    background-image: url('../../src/images/background2.svg');
    background-size: cover;
    height: 115vh;
    width: 100%;
    background-color: white;
    margin-top: -80px;
    //position: relative;
}
.section__container {
    height: 100vh;
    color: white;
    display: block;
    padding: 230px 20px 150px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__container{
    //margin-left: 100px;
    text-align: center;
    width: 600px;
    line-height: 65px;
}
.section__container .section__title{
    font-weight: $bold;
    font-size: 70px;
}
.section__container .section__title--role{
    font-weight: $base-font-weight;
    font-size: 18px;
}
.title--line{
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 35px;
}
.button2 {
    -webkit-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 0px 10px 10px 10px;
    //max-width: 180px;
    text-decoration: none;
    font-weight: $bold;
    border-radius: 4px;
    padding: 0px 5px;
    color: white;
    box-shadow:rgba(255, 255, 255, 0.85) 0 0px 0px 2px inset;
    &:hover {
        color: rgba(0, 0, 0, 0.85);
    box-shadow: rgba(255, 255, 255, 0.85) 0 80px 0px 2px inset;
    }
}

.arrow {
    text-align: center;
    position: absolute;
    top:90%;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .fa-arrow-down {
      text-decoration: none;
      color: $purple;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
