.section__intro{
   // background-image: url('../../src/images/background2.svg');
   background-image: url('../../src/images/back2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: #F8F9FA;
    margin-top: -80px;
    //position: relative;
}


.title__container{
    //margin-left: 100px;
   color: #F8F9FA;
    //text-align: center;
    margin-top: 200px;
    width: 600px;
    line-height: 65px;

}
.section__title{
    font-weight: $bold;
    font-size: 70px;
}
.section__title--role{
    font-weight: $base-font-weight;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    margin: 20px 0;
    padding-right: 35px;
}

@media(max-width: 900px) {
    .section__title{
        font-size: 65px;
    }
    .section__title--role {
        font-size: 17px;
        padding-right: 70px;
    }

}
@media(max-width: 548px) {
    .section__intro {
        height: 90vh;
    }
}
@media(max-width: 560px) {
    
    .section__title--role {
        text-align: center;
        padding-right: 0;
    }

    .more__button {
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
    }

    .section__title{
        text-align: center;
        font-size: 55px;
    }
}
@media(max-width: 460px) {
    .title__container {
       margin-top: 100px;
    }
    
}
@media(max-width: 430px) {
    
    .section__title--role {
        text-align: center;
        padding-right: 0;
        font-size: 16px;
    }

    .more__button {
        text-align: center;
        margin: 0 auto;
    }

    .section__title{
        text-align: center;
        font-size: 45px;
    }
}
@media(max-width: 400px) {
    
    .section__title--role {
        text-align: center;
        padding-right: 10px;
        font-size: 16px;
    }

    .more__button {
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
    }

    .section__title{
        text-align: center;
        font-size: 45px;
    }
}
@media(max-width: 370px) {
    
    .section__title--role {
        text-align: center;
        padding-right: 10px;
        font-size: 16px;
    }

    .more__button {
        text-align: center;
        margin: 0 auto;
    }

    .section__title{
        text-align: center;
        font-size: 40px;
        padding-right: 10px;
    }
}
@media(max-width: 320px) {
    
    .section__title--role {
        text-align: center;
        padding-right: 10px;
        font-size: 16px;
    }

    .more__button {
        text-align: center;
        margin: 0 auto;
    }

    .section__title{
        text-align: center;
        font-size: 35px;
        padding-right: 10px;
    }
}

