.section__speaker {
    margin-top: -200px;
    //padding-right: 20px;
    padding-left: 20px;
}

.speakers__header {
    color: $dark-text-color;
    font-size: 42px;
    font-weight: $bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}
@media (max-width: 900px) {
    .speakers__header {
        //margin-top: -150px;
    }
}
@media (max-width: 555px) {
    .speakers__header {
        font-size: 35px;
    }
}
.speaker--item {
    margin-top: 100px;
    padding: 30px 20px 0 0px;
    //background-color: #f3f3f3;
    background-color: rgb(243, 239, 247);
    display: flex;
    -webkit-box-shadow: 0px 19px 39px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 19px 39px -20px rgba(0,0,0,0.75);
box-shadow: 0px 19px 39px -20px rgba(0,0,0,0.75);
}

.speaker__column {
    display: flex;
    flex-direction: column;

    p {
        margin-top: 60px;
        padding: 40px 90px;
        text-align: justify;
        line-height: 30px;
        color: $dark-text-color;
    }
}
.speaker__header {
    text-align: center;
    font-size: 30px;
    margin-top: 65px;
    color: $purple;
    font-weight: $bold;
}

.speaker__figure  {
   
    margin: 0px;
    padding: 0;
}

@media (max-width: 1170px) {
    .section__speaker {
        margin-top: -200px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .speaker--item {
        flex-direction: column;
    }
    .speaker__figure {
        text-align: center;
    }
    .speaker__column {
         p {
            padding: 10px 40px;
        }
    }
}
@media (max-width: 800px) {
    .speaker__figure {
        margin-left: 15px;
    }
}
@media (max-width: 600px) {
    .section__speaker {
        padding-right:10px;
        padding-left: 0;
        margin-left: 10px;
    }
    .speaker__column {
        p {
           font-size: 15px;
           text-align: center;
           //width: 90%;
       }
   }
}
@media (max-width: 480px) {
    .speaker__figure img {
        height: auto;
        width: 100%;
    }
    .speaker__column {
        p {
           padding-left: 5px;
           padding-right: 5px;
           
       }
   }
}