/*.section__partners {
    display: flex;
    justify-content: center;
    //justify-content: space-between;
    margin-top: -120px;
    border-bottom: 2px solid #F2F2F2;
 }

.sponsors-list {
    margin: 0;
    display: flex;
    padding: 30px;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   // flex-wrap: wrap;
}
.sponsor--item {
    margin-top: 70px;
   // margin-right: 110px;
}
.sponsor-figure {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.sponsor-figure .sponsor-image {
    //height: auto;
    width: 100%;
    vertical-align: middle;
}
@media (max-width: 1025px) {
    .section__partners {
       margin-right: -90px;
     }
}
@media (max-width: 420px) {
    .sponsor-figure .sponsor-image {
        transform: scale(.8);
    }
}


/*

.top{
    margin-top: 50px;
}

@media (max-width: 400px) {
    .section__partners {
        margin-top: -500px;
        padding-top: 0px;
    }
}
@media (max-width: 1000px) {

    .margin {
        margin-left: 20px;
    }

}
@media (max-width: 950px) {
    .section__partners {
        margin-top: -300px;
        margin-bottom: -100px;
    }
    .sponsors-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -40px;
    }
    .margin {
        margin-left: 50px;
    }
    .wide {
        margin-left: 60px;
    }
    .sponsor-image {
        transform: scale(.8);
        text-align: center;
        margin-top: 50px;
    }
}*/

.section__partners {
    margin-top: -120px;
    border-bottom: 2px solid #F2F2F2;
    display: flex;
    justify-content: center;
}
.sponsors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sponsor--item {
    margin-left: 30px;
    margin-top: 70px;
    padding-right: 20px;
}
.sponsor__center {
    text-align: center;
}
.wide {
    margin-top: 120px;
}
@media (max-width: 400px) {
    .sponsor-image {
        height: auto;
        width: 100%;
    }
}