.section__partners {
    display: flex;
    justify-content: center;
    //justify-content: space-between;
    margin-top: -80px;
    border-bottom: 2px solid #F2F2F2;
 }

.sponsors-list {
    display: flex;
    padding: 30px;
   // flex-wrap: wrap;
}

.margin {
    margin-left: 50px;
}
.top{
    margin-top: 50px;
}
.sponsor-figure .sponsor-image {
    height: auto;
    width: 100%;
}
@media (max-width: 400px) {
    .section__partners {
        margin-top: -500px;
        padding-top: 0px;
    }
}
@media (max-width: 1000px) {

    .margin {
        margin-left: 20px;
    }

}
@media (max-width: 950px) {
    .section__partners {
        margin-top: -300px;
        margin-bottom: -100px;
    }
    .sponsors-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -40px;
    }
    .margin {
        margin-left: 50px;
    }
    .wide {
        margin-left: 60px;
    }
    .sponsor-image {
        transform: scale(.8);
        text-align: center;
        margin-top: 50px;
    }
}
