.section__partners {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: -200px;
}

.sponsors-list {
    display: flex;
}

.margin {
    margin-left: 180px;
}
.top{
    margin-top: 50px;
}
