.header {
    position: fixed;
    top:0;
    width: 100%;
    
    //z-index: 100;
    //background-color: #ffffff;
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
    
}

.header__nav {
    margin-left: auto;
}
