.nav__list .nav--item {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 35px;
}

.nav__list .nav--item .nav--link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-text-color;
    font-size: 15px;
    font-weight: $bold;
    margin: 0 10px;
    //transition: .6s;

    &:focus {
        color: $purple;
    }

    &:hover {
        color: $purple;
        transition: .2s;
    }
}

@media(max-width: 1000px) {
    .nav__list {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .nav--item {
        margin-top: 60px;
        padding: 0;
        text-align: right;
    }

    .nav__list--block {
        visibility: visible;
        background-color: #F8F9FA;
        margin: 0;
        padding: 0 30px;
        transition: .3s;
        -webkit-box-shadow: 3px 2px 16px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 2px 16px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 2px 16px 0px rgba(0, 0, 0, 0.75);
    }
}

.header__logo {
    padding-left: 20px;
}