.nav__list .nav--item{
    display: inline-block;
    position:relative;
    z-index: 1;
    margin-top: 35px;
}

.nav__list .nav--item .nav--link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-text-color;
    font-size: 16px;
    font-weight: $bold;
    margin: 0 10px;
    transition: .6s;
    
    &:focus{
        color: $purple;
    }
    &:hover {
        color: $purple;
        transition: .2s;       
    }
}

@media(max-width: 1000px) {
    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .nav--item {
        margin-top: 60px;
        padding: 0;
        text-align: center;
    }

    .nav__list--block {
        visibility: visible;
        background-color: black;
        margin: 0;
        padding: 0 30px;
        transition: .3s;
    }
}
.header__logo {
    padding-left: 20px;
}