.nav__list .nav--item{
    display: inline-block;
    position:relative;
    z-index: 1;
    margin-top: 15px;
}

.nav__list .nav--item .nav--link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: $bold;
    margin: 0 10px;
    transition: .6s;
    &:focus{
        color: $purple;
    }
    &:hover {
        color: $purple;
        transition: .6s;
    }
}

.header__logo {
    position: absolute;
}